/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-primary: #fff;
  --color-primary: #ff2cdf;
  --color-secondery: #0014ff;
  --color-black: #000;
  --linear-primary: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg-primary);
  font-family: "Work Sans", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
p {
  font-size: 18px;
  color: var(--color-black);
}
i {
  color: var(--color-black);
}
h1,
h3 {
  color: var(--linear-primary);
  text-transform: uppercase;
}

h1 {
  font-size: 95px;
}

h3 {
  font-size: 48px;
}

/* Common Styles */
.fixed-width {
  max-width: 1440px;
  margin: 0 auto;
}

.fixed-width-xl {
  max-width: 1920px;
  margin: 0 auto;
}

.btn-primary,
.btn-secondery {
  padding: 20px 40px;
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-secondery {
  background: #4ec5f7;
}

.highlight {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Header */
header {
  background-color: #fff;
  box-shadow: 0 0 5px 0px #0000003d;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

nav .logo {
  width: 200px;
}

nav ul {
  display: flex;
  font-weight: 500;
  align-items: center;
}

nav ul.menu > li {
  list-style-type: none;
  margin-right: 15px;
}

nav .fa-youtube {
  color: red;
}

.follow-us-menu {
  padding: 15px 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.follow-us-menu li {
  list-style: none;
  padding-left: 5px;
}

.banner {
  background: url("images/spark.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left;
}

.banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.banner-img-container img {
  width: 700px;
}

.feature {
  margin: 24px 0;
}

.feature li {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  list-style: inside;
}
.btn-container {
  display: flex;
  gap: 24px;
}
